#button1 {
	position: absolute;
    top: 25%;
    left: 15%;
    transform: rotate(-90deg);
	/*display: none;*/
}
#button2 {
	position: absolute;
    top: 10%;
    left: 15.4%;
    transform: rotate(-90deg);
}
#button3 {
	position: absolute;
    top: 25%;
    left: 18%;
    transform: rotate(-90deg);
}
#button4 {
	position: absolute;
    top: 10%;
    left: 18.4%;
    transform: rotate(-90deg);
}
#button5 {
	position: absolute;
    top: 25%;
    left: 21%;
    transform: rotate(-90deg);
}
#button6 {
	position: absolute;
    top: 10%;
    left: 21.4%;
    transform: rotate(-90deg);
}
#myImage1
{
	position: absolute;
	top: 25%;
	left: 12%;
}
#myImage2
{
	position: absolute;
	top: 15%;
	left: 12%;	
}
#myImage3
{
	position: absolute;
	top: 5%;
	left: 12%;	
}