<html>
	<head content="text/html; charset=utf-8" >
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" media="screen">
		<link rel="stylesheet" type="text/css" href="static/css/styles.css" media="screen">
		<link rel="stylesheet" type="text/css" href="static/css/luz.css">
		
		
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> <!-- REVISAAAAAARRL -->
		<!--Comandos de voz-->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
		<script src="http://code.responsivevoice.org/responsivevoice.js"></script>		
		
		
		<script src="static/js/luz.js" type="text/javascript" ></script>		
		<script src="static/js/tiempo.js" type="text/javascript"></script>	
		<script src="static/js/clima.js" type="text/javascript"></script>	
		<script src="static/js/comandosdevoz.js" type="text/javascript"></script>	
		<script src="static/js/noticias.js" type="text/javascript"></script>	
		<script src="static/js/gmail.js" type="text/javascript"></script>	
		<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
		
	</head>
	<body>
		<!--BLOQUE DE FECHA Y HORA-->
		<div id="divhorafecha">
			<div id="hora">
			
			</div>
			<div id="fecha"></div>
		</div>
		<!--FIN BLOQUE DE FECHA Y HORA-->
		<!--BLOQUE DEL CLIMA-->
		<div class="divweather" onLoad="setInterval('contador()',1000);">
			<span><img id="myImg"  width="64" height="64"></span>
			<div id="nube" align="">
				<div id="temperatura" align="left">
				</div>
				<div id="clima"></div>
				</img>
			</div>		
		</div>
		<!--FIN BLOQUE DEL CLIMA-->
		<!-- INTERRUPTORES -->
		<img id="interruptor1" src="static/images/f1.png" width="50" height="50">
		<p id="val1">Apagado</p>
		<img id="interruptor2" src="static/images/f2.png" width="50" height="50">
		<p id="val2">Apagado</p>
		<img id="interruptor3" src="static/images/f3.png" width="50" height="50">
		<p id="val3">Apagado</p>
		<!-- FIN INTERRUPTORES -->
		<!--BLOQUE DE NOTICIAS-->
		<div class="botonNoticiasyMai">
			<div class='row'>
				<div class=''>
				</div>
				<div id="notiDiv">
					<h2>Noticias: </h2>
					<div id="itemNot">
					</div>
				</div>
			</div>
		</div>
		<!--FIN BLOQUE DE NOTICIAS-->
		<!--BLOQUE DE GMAIL-->
		<div class="container" id="#gmailDiv">
			<button id="authorize-button" class="btn btn-primary hidden">Gmail</button>
			<table class="table  table-inbox hidden">
				<thead>
					<tr>
						<th>De:</th>
						<th>Asunto:</th>
						<th>Fecha:</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<!--FIN BLOQUE DE GMAIL-->
		
	</body>
</html>
